@model Assignment1.Models.CarModel
@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <td>
            <a href="/Car/Edit/4"> Edit </a> |
            
        </td>
    </div>
</body>
</html>
